<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="http://localhost/Conexion_Laravel_Angular/storage/app/public/Error404.png" alt="Error 404" class="img-fluid mb-3 imagen404" />
                    <h2 class="text-center">¡Ups! Página no encontrada</h2>
                    <p class="text-center">La página que estás buscando no existe o no está disponible.</p>
                    <div class="text-center">
                        <button class="btn btn-primary botonV" (click)="volverAlInicio()">Volver al inicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>